<%- include("partials/header") %>

<div class="b-example-divider"></div>

<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <h1>LinkedIn</h1>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <a
          type="button"
          class="btn btn-outline-light me-2"
          href="http://localhost:3000/auth/login"
          >Login
        </a>

        <a
          type="button"
          class="btn btn-warning"
          href="http://localhost:3000/auth/register"
        >
          Register
        </a>
      </div>
    </div>
  </div>
</header>
